body {
    margin: 0;
}

.appContainer {
    border: 1px solid red;
    width: 100vw;
    height: 100vh;
    background: rgb(235, 235, 235)
}

.topNav {
    border: 1px solid green;
    height: 50px;
    background: rgb(60,60,60)
}

.mainBody {
    border: 1px solid blue;
    height: calc(100% - 50px - 20px);
    display: flex;
    margin: 10px;
    width: calc(100% - 20px);
}

.leftColumn {
    border: 1px solid orange;
    width: 15%;
    max-width: 250px;
}

.middleColumn {
    border: 1px solid purple;
    width: calc(65% - 20px);
    min-width: calc(100% - 550px -20px);
    margin: 0 10px
}

.rightColumn {
    border: 1px solid pink;
    width: 20%;
    max-width: 300px;
}

.leftColumnTop {
    border: 1px solid red;
    height: 40%
}

.accountSummaryContainer {
    border: 1px solid black;
    height: 80px;
}

.accountTransactionContainer {
    border: 1px solid orange;
    height: calc(100% - 80px)
}

.leftColumnBotoom {
    border: 1px solid blue;
    height: 60%;
}


.middleColumnTop {
    border: 1px solid red;
    height: calc(100% - 80px);
}

.middleColumnBottom {
    border: 1px solid blue;
    height: 80px;
}